<p-toolbar>
    <div class="p-toolbar-group-start">
        <p-button 
            styleClass="general-button"
            iconPos="left" 
            icon="pi pi-chevron-left" 
            label="Back" 
            (onClick)="GoBack()">
        </p-button>
        <h1>
            Fees summary
        </h1>
    </div>
</p-toolbar>
<p-table [value]="feesDataList">
    <ng-template pTemplate="caption">
        <div style="display: flex;justify-content: space-between;">
            <div style="display: flex;justify-content: start;">
                <p-dropdown [options]="yearList" [(ngModel)]="selectedYear" (onChange)="OnYearChange()"></p-dropdown>
                <p-dropdown [options]="monthList" [(ngModel)]="selectedMonth" (onChange)="OnMonthChange()"></p-dropdown>
            </div>
            <p-button icon="pi pi-file-pdf" styleClass="p-button-danger"></p-button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Class-Board</th>
            <th>Subject</th>
            <th>Fees</th>
            <th>Payment status</th>
            <th>PaidOn</th>
            <th>Comments</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-feesData>
        <tr>
            <td>{{ feesData.studentName }}</td>
            <td>{{ feesData.className }}-{{feesData.boardName}}</td>
            <td>{{feesData.subjects}}</td>
            <ng-container *ngIf="feesData.feesAuditEntity">
                <td>{{feesData.feesAuditEntity.fees}}</td>
                <ng-container *ngIf="feesData.feesAuditEntity.paidOn == null">
                    <td >
                        <p-button 
                        styleClass="p-button-danger" 
                        label="Pending"
                        (onClick)="OnPendingPress(feesDataList.indexOf(feesData))"></p-button>
                    </td>
                    <td> - </td>
                    <td> - </td>
                </ng-container>
                <ng-container *ngIf="feesData.feesAuditEntity.paidOn != null">
                    <td >
                        <p-tag value="Paid" severity="success"></p-tag>
                    </td>
                    <td>{{ feesData.feesAuditEntity.paidOn | date }}</td>    
                    <td>{{ feesData.feesAuditEntity.comments }}</td>    
                </ng-container>
            </ng-container>
            <ng-container *ngIf="!feesData.feesAuditEntity">
                <td></td>
                <td></td>
            </ng-container>
            <!-- <td *ngIf="feesAudit.paidOn == null">
                <p-button styleClass="p-button-danger" label="Pending" (onClick)="OnPendingPress(feesAuditList.indexOf(feesAudit))"></p-button>
            </td>
            <td *ngIf="feesAudit.paidOn != null">
                <p-tag value="Paid" severity="success"></p-tag>
            </td>
            <td>{{ feesAudit.paidOn | date  }}</td>
            <td>{{ feesAudit.comments }}</td> -->
        </tr>
    </ng-template>
</p-table>

<p-dialog 
header="Payment confirmation" 
[modal]="true"
[closeOnEscape]="false" 
[(visible)]="displayPopup">
    <ng-template pTemplate="content">
        <form (ngSubmit)="ConfirmPayment()" [formGroup]="paymentConfirmationForm">
            <h4>Paid On: {{ datePaid | date}}</h4>
            <p-calendar id="paidOn" formControlName="paidOn" [(ngModel)] = "datePaid" [inline]="true"></p-calendar>
            <h4>Fees to be paid:</h4>
            <input 
            id="fees" 
            type="number" 
            formControlName = "fees"
            pInputText>
            <h4>Comments:</h4>
            <textarea pInputTextarea formControlName="comments"></textarea>
            <div style="display: flex; justify-content: end;">
                <p-button label="Confirm" type="submit"></p-button>
            </div>
        </form>   
    </ng-template>        
</p-dialog>