<p-toolbar>
    <div class="p-toolbar-group-start">
        <p-button 
            styleClass="general-button"
            iconPos="left" 
            icon="pi pi-chevron-left"
            (onClick)="GoBack()">
        </p-button>
        <h1 class="information">
            Fees summary
        </h1>
    </div>
</p-toolbar>
<p-table #dt [value]="GetDataBasedOnFilters()">
    <ng-template pTemplate="caption">
        <div style="display: flex;justify-content: space-between;">
            <div style="display: flex;flex-direction: row; justify-content: space-between;">
                <p-dropdown [options]="yearList" [(ngModel)]="selectedYear" (onChange)="OnYearChange()"></p-dropdown>
                <p-dropdown [options]="monthList" [(ngModel)]="selectedMonth" (onChange)="OnMonthChange()"></p-dropdown>
                <p-checkbox [(ngModel)]="showPendingOnly" [binary]="true" label="Pending only" (onChange)="PendingCbChange()"></p-checkbox>
                <p-checkbox [(ngModel)]="showPaidOnly" [binary]="true" label="Paid only" (onChange)="PaidCbChange()"></p-checkbox>
            </div>
            <p-button icon="pi pi-file-pdf" styleClass="p-button-danger" (onClick)="exportToPdf()"></p-button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Class-Board</th>
            <th>Subject</th>
            <th>Fees</th>
            <th>Payment status</th>
            <th>Mode of payment</th>
            <th>PaidOn</th>
            <th>Comments</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-feesData>
        <ng-container *ngIf="feesData.feesAuditEntity != null">
            <tr>
                <td>{{ feesData.studentName }}</td>
                <td>{{ feesData.className }}-{{feesData.boardName}}</td>
                <td>
                    <ng-container *ngFor="let subject of feesData.feesAuditEntity.subjects.split(',')">
                        <p>{{subject}}</p>
                    </ng-container>
                </td>
                <ng-container *ngIf="feesData.feesAuditEntity">
                    <td>{{feesData.feesAuditEntity.fees}}</td>
                    <ng-container *ngIf="feesData.feesAuditEntity.paidOn == null">
                        <td >
                            <p-button 
                            styleClass="p-button-danger" 
                            label="Pending"
                            (onClick)="OnPendingPress(feesDataList.indexOf(feesData))"></p-button>
                        </td>
                        <td> - </td>
                        <td> - </td>
                    </ng-container>
                    <ng-container *ngIf="feesData.feesAuditEntity.paidOn != null">
                        <td>
                            <p style="display: inline-block;" class="paid">Paid</p>
                        </td>
                        <td>
                            <p *ngIf="feesData.feesAuditEntity.modeOfPayment == 'Cash'">Cash</p>
                            <p *ngIf="feesData.feesAuditEntity.modeOfPayment == 'Account'">Account</p>
                        </td>
                        <td>{{ feesData.feesAuditEntity.paidOn | date }}</td>    
                        <td>{{ feesData.feesAuditEntity.comments }}</td>    
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="!feesData.feesAuditEntity">
                    <td></td>
                    <td></td>
                </ng-container>
            </tr>
        </ng-container>
    </ng-template>
</p-table>

<p-dialog 
header="Payment confirmation" 
[modal]="true"
[closeOnEscape]="false"
[(visible)]="displayPopup">
    <ng-template pTemplate="content">
        <div style="display: inline;">
            <form (ngSubmit)="ConfirmPayment()" [formGroup]="paymentConfirmationForm">
                <h4>Paid On: {{ datePaid | date}}</h4>
                <p-calendar id="paidOn" formControlName="paidOn" [(ngModel)] = "datePaid" [inline]="true"></p-calendar>
                <div style="display: flex;margin-top: 5px;">
                    <p style="flex: 2;font-weight: bold;">Fees to be paid:</p>
                    <input 
                    style="flex: 1;"
                    id="fees" 
                    type="number" 
                    formControlName = "fees"
                    pInputText>
                </div>
                <div style="display: flex;font-weight: bold;">
                    <p style="flex: 2;">Mode of payment: </p>
                    <p-radioButton label="Cash" value="Cash" formControlName="modeOfPayment" style="flex: 1;"></p-radioButton>
                    <p-radioButton label="Account" value="Account" formControlName="modeOfPayment" style="flex: 1;"></p-radioButton>
                </div>
                <div style="display: flex;margin-top: 5px;">
                    <p style="flex: 1;font-weight: bold;">Comments:</p>
                    <textarea pInputTextarea formControlName="comments" style="flex: 1;"></textarea>
                </div>
                <div style="display: flex; justify-content: end;margin-top: 5px;">
                    <p-button label="Confirm" type="submit"></p-button>
                </div>                    
            </form> 
        </div>
    </ng-template>        
</p-dialog>