.inputField{
    margin: 25px;
}
.horizontalLayout{
    display: inline-block;
}

:host ::ng-deep .right {
    float: right;
}

button{
    margin: 5px;
}
.save{
    background-color: green;
    color:  white;
    border: transparent;
}
.save:hover{
    background-color: transparent;
    color: black;
    border: transparent;
}
