<p-toolbar>
    <div class="p-toolbar-group-start">
        <h1 class="information">Home</h1>
    </div>
    <div class="p-toolbar-group-end">
        <i class="pi pi-users information"></i><p class="information">{{ studentList.length }}</p>
        <p class="information">&#8377; {{ totalFees }}</p>
    </div>   
  </p-toolbar>
  <hr>
<p-table #dt [value]="studentList"
selectionMode="single"
(onRowSelect)="onRowSelect($event)"
[rows]="10"
[showCurrentPageReport]="true"
[rowsPerPageOptions]="[5,10,15]"
[paginator]="true"
[globalFilterFields]="['studentName','class-board', 'subject']"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
    <ng-template pTemplate="caption">
        <div style="display: flex; justify-content: space-between; ">
            <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
            <div style="display: flex;">
                <div style="margin-right: 5px;">
                    <p-button label="Add student" styleClass="p-button-success" (onClick)="OnAddStudent()"></p-button>
                </div>
                <div style="margin-right: 5px;">
                    <p-button label="Fees" styleClass="p-button-fees" (onClick)="ShowsFees()"></p-button>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>#</th>
            <th>
                Name
                <p-columnFilter type="text" field="studentName" display="menu"></p-columnFilter>
            </th>
            <th>
                Class-Board
                <p-columnFilter type="text" field="class-board" display="menu"></p-columnFilter>
            </th>
            <!-- <th>Board</th> -->
            <th>
                Subjects
                <p-columnFilter type="text" field="subject" display="menu"></p-columnFilter>
            </th>
            <th>Days</th>
            <th>Timing</th>
            <th>Fees</th>
            <!-- <th>Payment status</th> -->
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-student>
        <tr [pSelectableRow]="student">
            <td>{{ studentList.indexOf(student) + 1 }}</td>
            <td>{{student.studentName}}</td>
            <td>{{student.className}} - {{student.boardName}}</td>
            <td>
                <ng-container *ngFor="let session of student.sessionList">
                    <p>{{ session.subject }}</p>
                </ng-container>
            </td>
            <td>
                <ng-container *ngFor="let session of student.sessionList">
                    <p>{{ session.days }}</p>
                </ng-container>
            </td>
            <td>
                <ng-container *ngFor="let session of student.sessionList">
                    <p>{{ session.startTime | Date2Time }} - {{ session.endTime | Date2Time }}</p>
                </ng-container>
            </td>
            <td>
                <ng-container *ngFor="let session of student.sessionList">
                    <p>&#8377;{{ session.fees }}</p>
                </ng-container>
            </td>
            <!-- <td style="color: red;"> Pending </td> -->
            <p-button styleClass="p-button-delete" icon="pi pi-trash" (onClick)="OnDelete(student)"></p-button>
        </tr>
    </ng-template>
</p-table>
<p-dialog header="Add student" [modal]="true" [closeOnEscape]="false" [(visible)]="displayPopup" styleClass="p-dialog-style" (onHide)="OnDialogClose()">
    <router-outlet></router-outlet>
</p-dialog>
<p-toast position="bottom-center"></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>