:host ::ng-deep .p-button-add-student {
    display: block;
    background-color: green;
    border-color: transparent;
    margin-right: 0;
    margin-left: auto;
    margin-right: 0px;
}
:host ::ng-deep .p-button-add-student:hover {
    background-color: transparent;
    color: black;
    border-color: green;
}

:host ::ng-deep .p-button-fees {
    display: block;
    /* background-color: blue; */
    border-color: transparent;
    margin-right: 0;
    margin-left: auto;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    margin-right: 0px;
}
:host ::ng-deep .p-button-fees:hover {
    background-color: transparent;
    color: black;
    border-color: blue;
}

:host ::ng-deep .p-button-delete {
    background-color: transparent;
    color: red;
    border: none;
}
:host ::ng-deep .p-button-delete:hover{
    background-color: transparent;
    color: red;
    border: solid;
    border-width: 1px;
    border-color: red;
}

:host ::ng-deep .p-dialog-style{
    border: 2px;
    border-style: solid;
    border-color: green;
}