.inputField{
    margin: 25px;
}
.horizontalLayout{
    display: inline-block;
}
.buttonAlign{
    margin: 25px;
}

:host ::ng-deep .discard {
    margin: 25px;
    background-color: red;
    border-color: transparent;
}
:host ::ng-deep .discard:hover {
    background-color: transparent;
    color: black;
    border-color: red;
}