<p-toolbar>
    <div class="p-toolbar-group-start">
        <p-button 
            styleClass="backButton toolbar"
            iconPos="left" 
            icon="pi pi-chevron-left" 
            (onClick)="GoBack()">
        </p-button>
        <h1 class="toolbar">Student detail</h1>
    </div>
  </p-toolbar>
  <hr>
<div style="display: flex; flex-direction: row;">
    <div style="flex: 1;">
        <p-card styleClass="p-card-card-item">
            <ng-template pTemplate="header">
                <div style="display: flex;">
                    <h1 style="flex: 2;">Personal Info: </h1>
                    <p-button 
                        icon="pi pi-pencil" 
                        styleClass="general-button"
                        (onClick)="OnPersonalInfoEdit()">
                    </p-button>
                </div>
            </ng-template>
            <ng-template pTemplate="content">
                <div style="display: flex;">
                    <h3 style="flex: 2;">Name: </h3>
                    <p style="flex: 1;">{{ studentModel.studentName }} </p>
                </div>
                <div style="display: flex;">
                    <h3 style="flex: 2;">Date of birth: </h3>
                    <p style="flex: 1;">{{ studentModel.dateOfBirth | date }} </p>
                </div>
                <div style="display: flex;">
                    <h3 style="flex: 2;">Class - Board: </h3>
                    <p style="flex: 1;">{{ studentModel.className }} - {{ studentModel.boardName }} </p>
                </div>
                <div style="display: flex;">
                    <h3 style="flex: 2;">SchoolName: </h3>
                    <p style="flex: 1;">{{ studentModel.schoolName }} </p>
                </div>
                <div style="display: flex;">
                    <h3 style="flex: 2;">Location: </h3>
                    <p style="flex: 1;">{{ studentModel.location }} </p>
                </div>
                <div style="display: flex;">
                    <h3 style="flex: 2;">Student Ph Number: </h3>
                    <ng-container *ngIf="studentModel.studentPhNum">
                        <p style="flex: 1;">{{ studentModel.studentPhNum }} </p>
                    </ng-container>
                    <ng-container *ngIf="!studentModel.studentPhNum">
                        <p style="flex: 1;"> - </p>
                    </ng-container>
                </div>
                <div style="display: flex;">
                    <h3 style="flex: 2;">Parent Ph Number 1: </h3>
                    <p style="flex: 1;">{{ studentModel.parentPhNum1 }} </p>
                </div>
                <div style="display: flex;">
                    <h3 style="flex: 2;">Parent Ph Number 2: </h3>
                    <ng-container *ngIf="studentModel.parentPhNum2">
                        <p style="flex: 1;">{{ studentModel.parentPhNum2 }} </p>
                    </ng-container>
                    <ng-container *ngIf="!studentModel.parentPhNum2">
                        <p style="flex: 1;"> - </p>
                    </ng-container>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <hr>
                <div style="display: flex;">
                    <h1 style="flex: 2;">Sessions: </h1>
                    <p-button 
                        icon="pi pi-pencil" 
                        styleClass="general-button" 
                        (onClick)="OnSessionInfoEdit()">
                    </p-button>
                </div><br>
                <ng-container *ngIf="studentModel.sessionList">
                    <div style="width: 100%; padding: 5px;">
                        <ng-container *ngFor="let session of studentModel.sessionList">
                            <session-data [sessionModel]="session" [displayDelete]="false"></session-data>
                        </ng-container>
                    </div>
                </ng-container>
            </ng-template>
        </p-card>
    </div>
    <div style="flex: 2;">
        <app-test-info></app-test-info>
    </div>
</div>
<p-dialog 
    [header]="'Edit ' + popupType" 
    [modal]="true" 
    [closeOnEscape]="false" 
    [(visible)]="displayPopup" 
    styleClass="p-dialog-style"
    [ngSwitch]="popupType"
    (onHide)="OnDialogClose()"
    >
    <app-personal-info *ngSwitchCase="'personal info'" [existingStudentData]="studentModel" (onStudentUpdate)="UpdatePersonalInfo($event)"></app-personal-info>
    <app-session-info *ngSwitchCase="'session info'" [existingStudentData]="studentModel" (onSessionUpdate)="UpdateSession($event)"></app-session-info>
</p-dialog>
<p-toast position="bottom-center" key="student-detail"></p-toast>