<div style="width: 1000px; padding: 10px;">
    <p-splitter [panelSizes]="[50, 50]">
        <ng-template pTemplate>
            <div>
                <ng-container *ngIf="personalInfoModel">
                    <p><b>Student name:</b>{{ personalInfoModel.studentName }} </p>
                    <p><b>Location:</b>  {{ personalInfoModel.location }} </p>
                    <p><b>School name:</b>  {{ personalInfoModel.schoolName }} </p>
                    <p><b>Class:</b>  {{ personalInfoModel.className }} </p>
                    <p><b>Board:</b>  {{ personalInfoModel.boardName }} </p>
                    <p><b>Student PhNum:</b>  {{ personalInfoModel.studentPhNum }} </p>
                    <p><b>Parent PhNum:</b>  {{ personalInfoModel.parentPhNum1 }} </p>
                    <p><b>Parent PhNum:</b>  {{ personalInfoModel.parentPhNum2 }}
            </ng-container>
            </div>
        </ng-template>
        <ng-template pTemplate>
            <ng-container *ngIf="sessionModelList">
                <div style="width: 100%; padding: 5px;">
                    <ng-container *ngFor="let session of sessionModelList">
                        <session-data [sessionModel]="session" [displayDelete]="false"></session-data>
                    </ng-container>
                </div>
                
            </ng-container>
        </ng-template>
    </p-splitter>    
    <p-button label="Prev" icon="pi pi-chevron-left" (onClick)="MovePrev()"></p-button>
    <p-button label="Submit" style="float: right;" (onClick)="OnSubmit()"></p-button>
</div>