<div *ngIf="personalInfoModel">
    <p>Student name: {{ personalInfoModel.studentName }} </p>
    <p>Location:  {{ personalInfoModel.location }} </p>
    <p>School name:  {{ personalInfoModel.schoolName }} </p>
    <p>Class:  {{ personalInfoModel.className }} </p>
    <p>Board:  {{ personalInfoModel.boardName }} </p>
    <p>Student PhNum:  {{ personalInfoModel.studentMobileNumber }} </p>
    <p>Parent PhNum:  {{ personalInfoModel.parentMobileNumber1 }} </p>
    <p>Parent PhNum:  {{ personalInfoModel.parentMobileNumber2 }} 
</div>
<p-button p="Submit" (onClick)="OnSubmit()"></p-button>
