:host ::ng-deep .p-button-delete {
    background-color: transparent;
    color: red;
    border: none;
}
:host ::ng-deep .p-button-delete:hover{
    background-color: transparent;
    color: red;
    border: solid;
    border-width: 1px;
    border-color: red;
}
:host ::ng-deep .general-button{
    background-color: transparent;
    border-color: transparent;
    border: none;
    color: black;
}
:host ::ng-deep .general-button:hover{
    background-color: transparent;
    border-color: transparent;
    border: solid 0.5px;
    color: black;
}