<p-card styleClass="p-card-card-item">
    <ng-template pTemplate="header">
        <div style="display: flex;">
            <h1 style="flex: 2;">Test details: </h1>
            <p-button icon="pi pi-plus" styleClass="p-button-warning button" (onClick)="displayAddPopup = true"></p-button>
            <p-button icon="pi pi-file-pdf" styleClass="p-button-danger button" (onClick)="ExportToPdf()"></p-button>
        </div>
    </ng-template>
    <ng-template pTemplate="content">
        <p-table [value]="testDataList" [scrollable]="true" scrollHeight="400px">
            <ng-template pTemplate="header">
                <tr>
                    <th>Test name</th>
                    <th>Subject</th>
                    <th>Total marks</th>
                    <th>Marks scored</th>
                    <th>Test date</th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-test>
                <tr>
                    <td> {{ test.testName }} </td>
                    <td> {{ test.subject }} </td>
                    <td> {{ test.totalMarks }} </td>
                    <td> {{ test.marksScored }} </td>
                    <td> {{ test.testDate | date}} </td>
                    <td><p-button styleClass="p-button-delete" icon="pi pi-trash" (onClick)="DeleteTest(test)"></p-button></td>
                </tr>
                <!-- <ng-container *ngFor="let test of testDataList">
                    <tr>
                        <td>Hi</td>
                        <td> {{ test.testName }} </td>
                        <td><p-button styleClass="p-button-delete" icon="pi pi-trash"></p-button></td>
                    </tr>
                </ng-container> -->
            </ng-template>
        </p-table>                
    </ng-template>
</p-card>

<p-dialog 
[(visible)]="displayAddPopup" 
[modal]="true"
header="Add test details"
(onHide)="displayAddPopup = false">
<div>
     <form [formGroup]="addTestFormGroup" (ngSubmit)="OnSubmit()">
        <div style="display: flex; margin: 5px;">
            <label for="test-type">Test type: </label>
            <!-- <p-cascadeSelect 
            id="test-type"
            placeholder="Test Name"
            [options]="testTypeList" 
            formControlName="testName" 
            optionGroupLabel="name"
            [optionGroupChildren]="['subTypes']"
            appendTo="body">
            </p-cascadeSelect> -->
            <p-dropdown
            [options]="testNames"
            formControlName = "testName"
            appendTo="body">
            </p-dropdown>
        </div>

        <div style="display: flex;">
            <div style="display: flex; margin: 5px;">
                <label for="marks-scored">Marks scored: </label>
                <input 
                id="marks-scored" 
                type="number" 
                formControlName = "marksScored"
                pInputText>
            </div>
    
            <div style="display: flex;margin: 5px;">
                <label for="total-marks">Total marks: </label>
                <input 
                id="total-marks" 
                type="number" 
                formControlName = "totalMarks"
                pInputText>
            </div>
    
            <div style="display: flex; margin: 5px;">
                <label for="subject">Subject: </label>
                <p-dropdown
                    [options]="GetSubjectList()"
                    id="subject"
                    placeholder="Select a subject"
                    formControlName = "subject"
                    appendTo="body">
                </p-dropdown>
            </div>
        </div>

        <div style="display: flex; margin: 5px;">
            <label for="test-date">Test date: </label>
            <!-- <input type="date" formControlName="testDate" id="test-date"> -->
            <p-calendar id="test-date" formControlName="testDate" dateFormat="dd-mm-yy" appendTo="body"></p-calendar>
        </div>

        <div style="display: flex;justify-content: end;">
            <p-button label="Add test" type="submit" [disabled]="!addTestFormGroup.valid"></p-button>
        </div>
     </form>
</div>
</p-dialog>