.margins{
    margin-bottom: 10px; 
}
.block{
    display: block;
}
.timePicker{
    margin-right: 10px;
}
:host ::ng-deep .prevButton{
    margin-top: 20px;
}
:host ::ng-deep .nextButton{
    margin-top: 20px;
    float: right;
}
:host ::ng-deep .addButton{
    margin-left: 10px;
}
.panel2{
    display: block;
}
button{
    margin: 5px;
}
.save{
    background-color: green;
    color:  white;
    border: transparent;
}
.save:hover{
    background-color: transparent;
    color: black;
    border: transparent;
}
:host ::ng-deep .session-tile{
    width: 100%;
    /* background-color: transparent; */
}
:host ::ng-deep .p-multiselect-label{
    max-width: 500px;
    display: flex;
}